<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Grupo de trabajo</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	</head>
	<body>

		<header>
			<h1>inicio  </h1>
		</header>


		<nav>


		</nav>
		<section>
            <p>por favor los nombres de las comunas no deben ir con caractertes especiales</p>
	    <form action="/Visualizacion.html", method="POST", enctype="multipart/form-data">
        <input type="file" name="files" class="form-control" accept=".csv" required />
        <button type="submit"> Subir</button>
        </form>


		</section>

		<footer align= "left" >
			<pre>asdasdasd
			</pre>
		</footer >

	</body>
</html>

