<!DOCTYPE html>
<html lang="es">

<form action="/index.html" , method="POST" , enctype="multipart/form-data">
    <button type="submit"> regresar al inicio</button>
</form>
<form action="/Visualizacion.html" , method="POST" , enctype="multipart/form-data">
    <button type="submit"> regresar vsualizacion</button>
</form>
<header>

    <p>Enesta seccion se podra hacer pruebas de </p>
    <p>machine learnig con 4 métodos diferentes </p>
    <p>acontinuación escoja con el que quiera probar.</p>


    <form action="/ML.html" , method="POST" , enctype="multipart/form-data">
        <table class="ch">
            <td><p>ann</p></td>
            <td><p>knn</p></td>
            <td><p>svc</p></td>
            <td><p>lg</p></td>
            <tr></tr>
            <td><input type="checkbox" name="ann" value="matchwithpairs" checked></td>
            <td><input type="checkbox" name="knn" value="matchwithpairs"></td>
            <td><input type="checkbox" name="svc" value="matchwithpairs"></td>
            <td><input type="checkbox" name="lg" value="matchwithpairs"></td>


        </table>
        <table class="egt">

            <td><p>el rago de la semilla será </p>
                <p> de o al número que usted </p>
                <p>ingrese acontinuación:</p></td>
            <td><input type="text" name="semilla" value=10></td>
            <tr></tr>
            <td><p>Acontinuacion ingrese un valor para</p>
                <p> la presició(score) dado el caso de que </p>
                <p>en las itraciones con la semilla pueda </p>
                <p>obtener un valor alto </p>
                <p>(intente poner valores de score bajos</p>
                <p> al principio).</p></td>
            <td><input type="text" name="pres" value=0.5></td>
            <tr></tr>
            <td><p>Igrese el porcentaje para que el programa </p>
                <p>separe el porcentaje de la muestra que usted</p>
                <p>desee para probar el algoritmo</p></td>
            <td><input type="text" name="tes" value=0.2></td>
            <tr></tr>
            <td><p>Igrese los valores de entrada</p>
                <p> que desea predecir los valores</p>
                <p>deben estar separados por comas</p>
            </td>
            <td><input type="text" name="pred" value=0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5></td>
            <tr></tr>
            <td>
                <button type="submit"> procesar</button>
            </td>

        </table>

    </form>


</header>
<section class="resutl">
    <table>
        <td>Matriz de confusión</td>
        <td>Presicion score</td>
        <td>recall</td>
        <td>fi</td>
        <tr></tr>
        <td>
            <img src="{{ url_for('static', filename='image/mf.png') }}" alt="fondo">
        </td>
        <td><img src="{{ url_for('static', filename='image/pres.png') }}" alt="fondo"></td>
        <td><img src="{{ url_for('static', filename='image/re.png') }}" alt="fondo"></td>
        <td><img src="{{ url_for('static', filename='image/f1.png') }}" alt="fondo"></td>
        <tr></tr>
        <td>
            <div class=" resutl1">
            {% block conten %}
                {{ data|safe }}
            {% endblock %}
            </div>
        </td>
        <td>
            <div class="table">

                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}

            </div>
        </td>


        <td>
            <div class="table1">

                {% for table1 in tables1 %}
                    {{ table1|safe }}
                {% endfor %}

            </div>
        </td>
        <td>
            <div class="table2">

                {% for table2 in tables2 %}
                    {{ table2|safe }}
                {% endfor %}

            </div>
        </td>
        <tr></tr>

        <td></td>
        <tr></tr>


    </table>
    <table>
        <td> Acuary y score
            <div class="table3">

                {% for table3 in tables3 %}
                    {{ table3|safe }}
                {% endfor %}

            </div>
        </td>
        <td>
            <div class="table3">

                {% for val in val %}
                    {{ val|safe }}
                {% endfor %}
            </div>
        </td>
        <td>
            <table>
                <td>Resultado dela predicción:<br>

                </td>
                <td><label>  {{ str1|string }} </label></td>
                <tr></tr>
                <td>
                    {% if valoracu|int,valorsco|int < 0.70 %}
                        <p> no es muy confiable el método pruebe ota </p>
                        <p>configuración.</p>

                    {% else %}
                        <p> si es menor a 90 podria </p>
                        <p> mejorarlo, pero es </p>
                        <p> confiable</p>
                    {% endif %}
                    <p>De todos los datos del test {{ t|float }} acertaron {{ diago|float }},</p>

                    <p> {{ t|float-diago|float }} son desaciertos </p>

                </td>
            </table>
        <td>
    </table>
</section>
<section>

</section>

<footer>

</footer>

</body>
</html>