<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href=" {{ url_for('static', filename = 'image/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <title>Visualización</title>
</head>
<body>
    <header>
        <div class="container">
            <h2>Análisis de Datos.</h2>
        </div>
    </header>
    <div class="container">
        <!--BUTTONS ROW-->
        <div class="row">
            <div class="col-md-6 color1 segment-one">
                <form action="/ML.html" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-lg btn-warning"> Aplicar machine learni.g</button>
                </form>
            </div>
            <div class="col-md-6 color1 segment-tow">
                <form action="/index.html" , method="POST" , enctype="multipart/form-data">
                    <button type="submit" class="btn btn-lg btn-warning"> regresar al inicio</button>
                </form>
            </div>
        </div>
        <!--FIRST ROW-->
        <div class="row">
            <div class="col-md-12 color1">
                <h3>Varianza</h3>
                <table class="table">
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </table>                
            </div>            
        </div>
        <!--SECOND ROW-->
        <div class="row">
            <div class="col-md-12 color2  over-t">
                <h3>Matriz de correlación</h3>
                <table class="table">
                    {% for table3 in tables3 %}
                        {{ table3|safe }}
                    {% endfor %}
                </table>                
            </div>
        </div>
        <!--THIRD ROW-->
        <div class="row">
            <div class="col-md-6 color3">
                <h3>Índice de homogeneidad</h3>
                <table class="table">
                    {% for table1 in tables1 %}
                        {{ table1|safe }}
                    {% endfor %}
                </table>                
            </div>
            <div class="col-md-6 color3">
                <h3>Índice de homogenedidad corregido</h3>
                <table class="table">
                    {% for table2 in tables2 %}
                        {{ table2|safe }}
                    {% endfor %}
                </table>                
            </div>
        </div>
        <!--FOURTH ROW-->
        <div class="row">
            <div class="col-md-12 color1">
                <h3>Resumen</h3>
                <table class="table">
                    {% for table4 in tables4 %}
                       {{ table4|safe }}
                    {% endfor %}
                </table>                
            </div>
        </div>
        <div class="row final-row">
            <div class="col-md-12 color2">
                <h3>Dataset ingresado</h3>
                <table class="table">
                    {% block content %}
                        {{ data|safe }}
                    {% endblock %}
                </table>                
            </div>
        </div>        
    </div>    
    <!-- FOOTER -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 segment-one">
                        <h4>Desarrolladores: </h4>
                        <p>Andres Mateo Nariño Rodríguez</p>
                        <p>John Sebastian Martinez Zabala</p>
                        <p>Juan Sebastian Mancera</p>
                    </div>
                    <div class="col-md-6 segment two">
                        <h4>Contacto: </h4>
                        <p>narinomateo2119@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--BOOTSTRAP Y JQUERY-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
